<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="stylesheet" href="/assets/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/iconfont/material-icons.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <title>contact us</title>
</head>
<body>

    <!-- including the nav ejs file -->
    <% include partial/nav.ejs %>

    <h2>Welcome to the contact Us page</h2>
    <p>Thanks for getting in touch</p>
    <p>You contacted <%= data.name %>, in the <%= data.depart %> department </p>
    <p>we will reply to you at <%= data.email %></p>

    <!-- including the footer -->
    <% include partial/footer.ejs %>
</body>
</html>