<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="stylesheet" href="/assets/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/iconfont/material-icons.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <title>home</title>

</head>
<body>


    <!-- including the nav ejs file -->
    <% include partial/nav.ejs %>

    <!-- <div class="btn-floating"><i class="material-icons">add</i></div> -->
    <h2>Welcome to the home page</h2>
    <p>we Welcome you with warm hands</p>
</body>
</html>